body {
	margin: 0;
	padding: 0;
	/*min-height: 100%; */
	background-image: url(../img/background.png);
	background-size: cover;

	font-family: "Lato", sans-serif;
}

#footer {
	margin-top: 15vmax;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}
.navbar-custom {
	color: #20262c;
	background: rgba(32, 38, 44, 0.9);
}
.navbar a {
	color: #131313;
}

.navbar li.active {
	/* background: #ff9900; */
	border-bottom: 1.5px solid #01bf60;
}

#myNavbar {
	position: absolute;
	left: 30%;
}

@media only screen and (max-width: 991px) {
	#myNavbar {
		position: initial;
	}
}
.navbar li.active a {
	color: #fafafa;
}
.navbar .navbar-toggle .icon-bar {
	background: #131313;
}

.progress-ring__circle {
	-webkit-transition: 0.35s stroke-dashoffset;
	transition: 0.35s stroke-dashoffset;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

#ringText {
	font-weight: 500;
	position: relative;
	left: 10.2%;
	padding-top: 48px;
}

@media only screen and (max-width: 991px) {
	#ringText {
		left: 16.6%;
	}
}

#stars {
	width: 100px;
}

#gameTitle {
	padding-left: 10px;
	border-left: 1.5px solid #01bf60;
}
#gameDesc {
	padding-left: 10px;
}

.buyBtn {
	border-style: none;
	height: 50px;
	width: 125px;
	color: white;
	font-weight: 600;
	background-color: #028c4b;
	border-radius: 40px;
}

.buyBtn:hover {
	background-color: #03d462;
}

/* Sobre Nosotros */

#aboutUsTitle {
	border-bottom: 2px solid #028c4b;
}

#aboutUsTitle2 {
	border-bottom: 2px solid #028c4b;
}

#aboutUs {
	border-radius: 10px;
	/*background-color: rgba(99, 102, 106, 0.7); */
	background-color: #028c4b;
}

.aboutText {
	color: white;
	font-weight: bold;
}

/* Productos */

.search_box {
	width: 100%;
}

.search_box input[type="text"] {
	width: 100%;
	padding: 20px;
	padding-right: 60px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	outline: none;
}

.fa-search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	color: #fff;
	font-size: 25px;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}

@media screen and (max-width: 425px) {
	.search_box {
		width: 95%;
	}
}
